* {
    cursor: none !important;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    overflow-x: hidden;
    font-family: NeueHansRegular;
    font-size: 16px;
    color: #fff;
}

p {
    margin: 0;
    padding: 0;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.icon-logo {
    background-image: url("interface/logo.svg");
    width: 87px;
    height: 34px;
    background-size: 87px 34px;
}

.icon-arrow {
    width: 90px;
    height: 68px;
    background-size: 90px 68px;
    margin-left: 20px;
}

.icon-start {
    width: 172px;
    height: 235px;
    background-size: 172px 235px;
}

.icon-arrow svg {
    fill: #3d3d3d;
}

.icon-play {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    padding: 62px 0;
    box-sizing: border-box;
}

.icon-play svg {
    width: 25px;
    height: 25px;
    transition: fill .2s;

}

.wrapper, .noise {
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    z-index: 1;
}

.noise {
    background-image: url("interface/noise.png");
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    transition: transform 1s;
}

.slide_one {
    z-index: 2;
    transform: translateX(-100%);
}

.slide_two {
    z-index: 3;
    transform: translateX(100%);
}

.slide.slide_active {
    opacity: 1;
    transform: translateX(0%);
}

.slide__inner {
    padding: 47px 120px 38px;
    height: 100%;
    box-sizing: border-box;
}

.slide__text-center {
    font-size: inherit;
    font-family: inherit;
    line-height: 1;
    text-align: center;
    position: relative;
    z-index: 1;
    top: 50%;
    margin-top: -10px;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.slide__text-center_hide {
    opacity: 0;
}

.slide__animate-text {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -360px 0 0 -815px;
    right: 0;
    bottom: 0;
    z-index: 3;
    font-size: 595px;
    font-family: ThisRegular;
    letter-spacing: -25px;
    text-align: center;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slide__left, .slide__right  {
    width: 50%;
}

.slide__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide__link {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    white-space: nowrap;
}

.slide__skip .icon-arrow svg,
.slide__link .icon-arrow svg {
    transition: fill .2s;
}

.slide__skip:hover .icon-arrow svg,
.slide__link:hover .icon-arrow svg {
    fill: #fff;
}

.slide__link_social {
    color: #585858;
    margin: 0 9px;
    padding: 10px;
}

.slide__link_social:first-child {
    margin-left: -10px;
}

.slide__link_social:hover {
    color: #fff;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.slide__header, .slide__main, .slide__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    position: relative;
    z-index: 5;
}

.slide__header, .slide__footer {
    height: 60px;
}

.slide__main {
    height: calc(100% - 120px);
}

.slide__play {
    display: inline-block;
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -70px;
}

.slide__start {
    display: inline-block;
    width: 172px;
    height: 235px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -117.5px 0 0 -86px;
    z-index: 10;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.slide__start_show {
    opacity: 1;
}

.slide__start .text {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -30px;
    font-size: inherit;
    font-family: inherit;
}

.slide__skip {
    display: inline-block;
    position: fixed;
    right: 120px;
    bottom: 35px;
    z-index: 100;
    color: #fff;
    text-decoration: none;
    opacity: 0;
    z-index: -1;
    white-space: nowrap;
}

.slide__skip_show {
    transition: 2s;
    opacity: 1;
    z-index: 5;
}

.equilizer {
    display: inline-block;
    vertical-align: bottom;
    height: 20px;
    width: 20px;
    margin-right: 12px;
}

.bar {
    background-color: #fff;
    width: 2px;
    animation: equalize 4s 0s infinite;
    display: inline-block;
    vertical-align: bottom;
}

.bar:nth-child(1) {
    animation-delay: -1.9s;
}

.bar:nth-child(2) {
    animation-delay: -2s;
    margin: 0 3px;
}

.bar:nth-child(3) {
    animation-delay: -2.3s;
}

@keyframes equalize {
    0% {
        height: 60%;
    }
    4% {
        height: 50%;
    }
    8% {
        height: 40%;
    }
    12% {
        height: 30%;
    }
    16% {
        height: 20%;
    }
    20% {
        height: 30%;
    }
    24% {
        height: 40%;
    }
    28% {
        height: 10%;
    }
    32% {
        height: 40%;
    }
    36% {
        height: 60%;
    }
    40% {
        height: 20%;
    }
    44% {
        height: 40%;
    }
    48% {
        height: 70%;
    }
    52% {
        height: 30%;
    }
    56% {
        height: 10%;
    }
    60% {
        height: 30%;
    }
    64% {
        height: 50%;
    }
    68% {
        height: 60%;
    }
    72% {
        height: 70%;
    }
    76% {
        height: 80%;
    }
    80% {
        height: 70%;
    }
    84% {
        height: 60%;
    }
    88% {
        height: 50%;
    }
    92% {
        height: 60%;
    }
    96% {
        height: 70%;
    }
    100% {
        height: 80%;
    }
}

.cursor {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.cursor:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -5px;
    z-index: 1;
    border-radius: 100%;
}

.cursor_first {
    z-index: 20;
}

.cursor_first:before {
    background-color: #303030;
}

.cursor_second {
    z-index: 19;
}

.cursor_second:before {
    background-color: #fff;
}

.container {
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    opacity: 1;
    transition: all 0.2s;
}

.container_hide {
    opacity: 0;
    z-index: 1;
}

.container_change-size {
    left: 50%;
    z-index: 2;
    background: transparent;
}

.icon-play:hover, .container_hover {
    -webkit-transform: scale(1.2, 1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.2, 1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}

#animate.slide__animate-text_start span:nth-child(1){
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#animate.slide__animate-text_start span:nth-child(2){
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#animate.slide__animate-text_start span:nth-child(3){
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#animate.slide__animate-text_start span:nth-child(4){
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#animate.slide__animate-text_hide span {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}


#animate span {
    opacity: 0;
    margin-left: -10px;
}

#animate.slide__animate-text_show span {
    opacity: 1;
    margin-left: 0;
}

#animate.slide__animate-text_hide span {
    opacity: 0;
    margin-left: -10px;
}

/*Media Query*/
@media (min-width: 1920px) {
    .slide__animate-text {
        font-size: 50em;
        transform: translate(-50%, -50%);
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 1800px) {
    .slide__animate-text {
        font-size: 35em;
        transform: translate(-50%, -50%);
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 1400px) {
    .slide__animate-text {
        font-size: 30em;
    }
    .slide__footer {
        flex-wrap: wrap;
        height: 126px;
        padding-bottom: 20px;
    }
    .slide__footer .slide__left,
    .slide__footer .slide__right {
        width: 100%;
    }
    .slide__main {
        height: calc(100% - 186px);
    }
}

@media(max-width: 1200px) {
    .slide__animate-text {
        font-size: 25em;
    }
}

@media(max-width: 992px) {
    .slide__animate-text {
        font-size: 20em;
    }
    .cursor {
        display: none;
    }
    * {
        cursor: auto!important;
    }
    .container_change-size {
        left: 0;
        top: 200px;
        bottom: 113px;
    }
    .slide__play {
        margin: -75px 0 0 -75px;
    }
    .slide__header {
        flex-wrap: wrap;
        height: 126px;
    }
    .slide__header .slide__left,
    .slide__header .slide__right {
        width: 100%;
    }
    .slide__main {
        height: calc(100% - 252px);
    }
}

@media(max-width: 768px) {
    .slide__links {
        display: block;
        width: 100%;
        text-align: left;
        padding-bottom: 20px;
    }
    .slide__footer {
        height: 205px;
    }
    .slide__main {
        height: calc(100% - 386px);
        min-height: 255px;
    }
    .slide__footer .slide__right {
        flex-wrap: wrap;
        padding-top: 20px;
    }
    .slide__footer .slide__link {
        margin: 0 auto 0 0;
    }
    .slide__animate-text {
        font-size: 15em;
    }
    .slide__header .slide__right {
        flex-wrap: wrap;
    }
    .slide__header {
        height: 161px;
    }
    .slide__header .slide__right p {
        width: 100%;
        margin: 20px 0;
    }
    .slide__play {
        margin: -55px 0 0 -75px;
    }
    .slide__animate-text {
        display: none;
    }
    .slide__inner {
        padding: 38px;
    }
    .icon-play {
        width: 80px;
        height: 80px;
        padding: 28px 30px;
    }
    .slide__play {
        margin: -40px 0 0 -40px;
    }
    .slide__skip {
        right: 38px;
    }
}

