@font-face {
    font-family: NeueHansLight;
    src: url(../fonts/NeueHansKendrick-Light.otf) format("opentype");
}

@font-face {
    font-family: NeueHansLight;
    src: url(../fonts/NeueHansKendrick-Light.ttf) format("opentype");
}