@font-face {
    font-family: NeueHansRegular;
    src: url(../fonts/NeueHansKendrick-Regular.otf) format("opentype");
}
@font-face {
    font-family: ThisRegular;
    src: url(../fonts/This-Regular.otf) format("opentype");
}

